{% extends 'main/layout.html' %}

{% block title %}About us{% endblock %}

{% block content %}
    <div class="features">
        <h1>Meet The Melodies That Move The World</h1>
        <span>
            In a world where music becomes a bridge between cultures, times and emotions, Audiophoria is born out of a passion for sounds that move the soul. We are a team of like—minded people united by a common dream: to make the world's musical heritage accessible to everyone who is looking for inspiration in melodies and rhythms.
            Our journey began [specify the date or year] when we realized that the modern world lacks a platform that could meet all the musical needs of music lovers. Since then, we have been working on creating a web application that embodies the ease of search, accessibility and community of the musical experience.
            Audiophoria offers not just music, but a curatorial approach to the selection of tracks and albums. Our goal is to offer the user not only a platform for listening to music, but also the opportunity to open new horizons by following the recommendations of our team and community.
            We believe that musical experiences should be endless, and every day we work to expand our archive to include both famous world hits and the works of emerging artists. Our mission is to give everyone the opportunity to find music to their liking, be inspired and share their findings with their loved ones.
            The Audiophoria community is the heart of our project. Therefore, we invite you to join us and create a musical space together, where everyone will find something of their own. Your voice, your choice and your inspiration are what make our project alive and unique.
            Welcome to the Audiophoria family, where music unites hearts!
        </span>
        <a href="{% url 'home' %}" class="btn btn-danger">Go back</a>
    </div>
{% endblock %}
